.App {
  display: flex;
  /*height: 100vh;*/
  min-height: 100vh;
  /*background: #f9f4ee;*/
  background: #fff;
  overflow: hidden;
}

main {
  width: 100%;
  display: flex;
  flex-flow: column;
  justify-content: center;
}

.brand-side {
  background: #f9f4ee;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  width: 50%;
}

.brand-photo {
  width: 20em;
}

.brand-name {
  font-size: 3em;
  margin-top: .5em;
  color: #1e1e1e
}

.brand-tagline {
  margin-top: 1.7em;
  font-size: 1.1em;
  display: flex;
  flex-flow: column;
  align-items: center;
}

.brand-social {
  height: 45px;
  margin-top: 2em;
}

.social-container > div > a {
  margin: 0 .5em;
  width: 33px !important;
  height: 33px !important;
}

.content-side {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  width: 50%;
  overflow: hidden;
}

.hide {
  display: none;
}

.bold {
  font-weight: 800;
}
