.work-inner {
  /*background: aqua;*/
  height: 100%;
  padding: 5em  4em;
  display: flex;
  flex-flow: column;
  justify-content: flex-end;
  align-items: center;
}

.work-section {
  display: flex;
  flex-flow: column;
  width: 100%;
  max-width: 33em;
  /*background: yellow;*/
}